<h3 class="dropdown-headline">
    <f:translate key="tx_t3visuellverstehen_contact_toolbar_item" extensionName="t3visuellverstehen" />
</h3>
<hr>
<div class="dropdown-table">
    <div class="dropdown-table-row">
        <div class="dropdown-table-column dropdown-table-column-top dropdown-table-title">
            <f:translate key="tx_t3visuellverstehen_contact_toolbar_item.email" extensionName="t3visuellverstehen" />
        </div>
        <div class="dropdown-table-column dropdown-table-column-top dropdown-table-value">
            <a href="mailto:kontakt@visuellverstehen.de">kontakt@visuellverstehen.de</a>
        </div>
    </div>
    <div class="dropdown-table-row">
        <div class="dropdown-table-column dropdown-table-column-top dropdown-table-title">
            <f:translate key="tx_t3visuellverstehen_contact_toolbar_item.telephone" extensionName="t3visuellverstehen" />
        </div>
        <div class="dropdown-table-column dropdown-table-column-top dropdown-table-value ">
            <a href="tel: +4946115065360">+49461 15065360</a>
        </div>
    </div>
</div>
<hr>
<div class="dropdown-table">
    <div class="dropdown-table-row">
        <div class="dropdown-table-column dropdown-table-column-top dropdown-table-title">
            <f:translate key="tx_t3visuellverstehen_contact_toolbar_item.web" extensionName="t3visuellverstehen" />
        </div>
        <div class="dropdown-table-column dropdown-table-column-top dropdown-table-value ">
            <a href="https://www.visuellverstehen.de" target="_blank">www.visuellverstehen.de</a>
        </div>
    </div>
</div>
