<span class="toolbar-item-icon" title="Clear cache">
    <span class="t3js-icon icon icon-size-small icon-state-default">
        <span class="icon-markup">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 283.5 268.2" style="enable-background:new 0 0 283.5 268.2;" xml:space="preserve">
                <path class="icon-color" d="M190.9,268.2H92.6L0,0h76.8l66.8,220L209.3,0h74.2L190.9,268.2z" />
            </svg>
        </span>
    </span>
</span>
