<h3 class="dropdown-headline">
    <f:translate key="tx_t3visuellverstehen_contact_toolbar_item" extensionName="t3visuellverstehen" />
</h3>
<hr class="dropdown-divider" aria-hidden="true">
<table class="dropdown-table">
    <tbody>
        <tr class="dropdown-table-row">
            <th class="dropdown-table-column dropdown-table-column-top dropdown-table-title" scope="row">
                <core:icon identifier="actions-envelope" size="small" />
                <f:translate key="tx_t3visuellverstehen_contact_toolbar_item.email" extensionName="t3visuellverstehen" />
            </th>
            <td class="dropdown-table-column dropdown-table-column-top dropdown-table-value">
                <a href="mailto:hello@visuellverstehen.de">hello@visuellverstehen.de</a>
            </td>
        </tr>
        <tr class="dropdown-table-row">
            <th class="dropdown-table-column dropdown-table-column-top dropdown-table-title" scope="row">
                <core:icon identifier="actions-phone" size="small" />
                <f:translate key="tx_t3visuellverstehen_contact_toolbar_item.telephone" extensionName="t3visuellverstehen" />
            </th>
            <td class="dropdown-table-column dropdown-table-column-top dropdown-table-value ">
                <a href="tel:+4946115065360">+49 461 15065360</a>
            </td>
        </tr>
        <tr class="dropdown-table-row">
            <th class="dropdown-table-column dropdown-table-column-top dropdown-table-title" scope="row">
                <core:icon identifier="actions-globe-alt" size="small" />
                <f:translate key="tx_t3visuellverstehen_contact_toolbar_item.web" extensionName="t3visuellverstehen" />
            </th>
            <td class="dropdown-table-column dropdown-table-column-top dropdown-table-value ">
                <a href="https://www.visuellverstehen.de" target="_blank">www.visuellverstehen.de</a>
            </td>
        </tr>
    </tbody>
</table>
